@charset "utf-8";
/* CSS Document */
/*FONTS*/
body{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:13px;}
a{
text-decoration:none;
border-bottom:dotted 1px #ccc;
color:auto;
}
.header,
h1, h2{
font-weight:bold;
font-family:Arial, Helvetica, sans-serif
}
p{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:16px;
}
p.smaller{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
/*line-height:140%;*/
margin: 0;
}
.sms{
color:#333;
font-weight:bold;
background-color:#eee;
}

/*FONT SIZE*/
h1{
font-size:28px;
}
h2{
font-size:20px;
}


/*COLORS*/
h1, p, p a{
color: #666;
}
h2{
color: #999;
}
.accent-color{
color:#09c;
font-weight:bold;
}

/*POSITIONING*/
html, body{
padding:0;
margin:0;
height:100%;
}
table{border-spacing: 0;}
td, th{padding:1px;border-bottom:1px solid #ccc;}
h1{
margin:0;
}
.footer{
text-align:center;
position: relative;
bottom: 0px;
}
.indent30{
margin-left:30px;
}
.header{
background-color:#09c;
height:50px;
color:white;
width:100%;
box-shadow: 0 1px 3px black;
-moz-box-shadow: 0 1px 3px black;
-webkit-box-shadow: 0 1px 3px black;
}
.content{
max-width:950px;
margin:0 auto;
padding:0 5px;
}
.container .content{
	margin-top:40px;
}
.header .content{
position:relative;
top:2px;
}
.container{
width:100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
}
